*.264 filter=lfs diff=lfs merge=lfs -text
*.3g2 filter=lfs diff=lfs merge=lfs -text
*.3gp filter=lfs diff=lfs merge=lfs -text
*.arf filter=lfs diff=lfs merge=lfs -text
*.asf filter=lfs diff=lfs merge=lfs -text
*.asx filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.bik filter=lfs diff=lfs merge=lfs -text
*.dash filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.dvr filter=lfs diff=lfs merge=lfs -text
*.flv filter=lfs diff=lfs merge=lfs -text
*.h264 filter=lfs diff=lfs merge=lfs -text
*.m2t filter=lfs diff=lfs merge=lfs -text
*.m2ts filter=lfs diff=lfs merge=lfs -text
*.m4v filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mpeg filter=lfs diff=lfs merge=lfs -text
*.mpg filter=lfs diff=lfs merge=lfs -text
*.mts filter=lfs diff=lfs merge=lfs -text
*.ogv filter=lfs diff=lfs merge=lfs -text
*.prproj filter=lfs diff=lfs merge=lfs -text
*.rec filter=lfs diff=lfs merge=lfs -text
*.rmvb filter=lfs diff=lfs merge=lfs -text
*.swf filter=lfs diff=lfs merge=lfs -text
*.tod filter=lfs diff=lfs merge=lfs -text
*.tp filter=lfs diff=lfs merge=lfs -text
*.vob filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.wlmp filter=lfs diff=lfs merge=lfs -text
*.wmv filter=lfs diff=lfs merge=lfs -text
*.3ga filter=lfs diff=lfs merge=lfs -text
*.aac filter=lfs diff=lfs merge=lfs -text
*.aiff filter=lfs diff=lfs merge=lfs -text
*.amr filter=lfs diff=lfs merge=lfs -text
*.ape filter=lfs diff=lfs merge=lfs -text
*.cda filter=lfs diff=lfs merge=lfs -text
*.dvf filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.gp4 filter=lfs diff=lfs merge=lfs -text
*.gp5 filter=lfs diff=lfs merge=lfs -text
*.gpx filter=lfs diff=lfs merge=lfs -text
*.logic filter=lfs diff=lfs merge=lfs -text
*.m4a filter=lfs diff=lfs merge=lfs -text
*.m4b filter=lfs diff=lfs merge=lfs -text
*.m4p filter=lfs diff=lfs merge=lfs -text
*.midi filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.opus filter=lfs diff=lfs merge=lfs -text
*.pcm filter=lfs diff=lfs merge=lfs -text
*.snd filter=lfs diff=lfs merge=lfs -text
*.sng filter=lfs diff=lfs merge=lfs -text
*.uax filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.wma filter=lfs diff=lfs merge=lfs -text
*.wpl filter=lfs diff=lfs merge=lfs -text
*.zab filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.cpt filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.dib filter=lfs diff=lfs merge=lfs -text
*.dng filter=lfs diff=lfs merge=lfs -text
*.emf filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.heic filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.icon filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pcx filter=lfs diff=lfs merge=lfs -text
*.pic filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.psdx filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.thm filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.wbmp filter=lfs diff=lfs merge=lfs -text
*.wdp filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
*.arw filter=lfs diff=lfs merge=lfs -text
*.cr2 filter=lfs diff=lfs merge=lfs -text
*.crw filter=lfs diff=lfs merge=lfs -text
*.dcr filter=lfs diff=lfs merge=lfs -text
*.fpx filter=lfs diff=lfs merge=lfs -text
*.mrw filter=lfs diff=lfs merge=lfs -text
*.nef filter=lfs diff=lfs merge=lfs -text
*.orf filter=lfs diff=lfs merge=lfs -text
*.pcd filter=lfs diff=lfs merge=lfs -text
*.ptx filter=lfs diff=lfs merge=lfs -text
*.raf filter=lfs diff=lfs merge=lfs -text
*.rw2 filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
*.cdr filter=lfs diff=lfs merge=lfs -text
*.csh filter=lfs diff=lfs merge=lfs -text
*.csl filter=lfs diff=lfs merge=lfs -text
*.drw filter=lfs diff=lfs merge=lfs -text
*.emz filter=lfs diff=lfs merge=lfs -text
*.odg filter=lfs diff=lfs merge=lfs -text
*.sda filter=lfs diff=lfs merge=lfs -text
*.svgz filter=lfs diff=lfs merge=lfs -text
*.wmf filter=lfs diff=lfs merge=lfs -text
*.abr filter=lfs diff=lfs merge=lfs -text
*.ani filter=lfs diff=lfs merge=lfs -text
*.cdt filter=lfs diff=lfs merge=lfs -text
*.djvu filter=lfs diff=lfs merge=lfs -text
*.eps filter=lfs diff=lfs merge=lfs -text
*.fla filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.mdi filter=lfs diff=lfs merge=lfs -text
*.psb filter=lfs diff=lfs merge=lfs -text
*.pzl filter=lfs diff=lfs merge=lfs -text
*.sup filter=lfs diff=lfs merge=lfs -text
*.vsdx filter=lfs diff=lfs merge=lfs -text
*.3d filter=lfs diff=lfs merge=lfs -text
*.3ds filter=lfs diff=lfs merge=lfs -text
*.c4d filter=lfs diff=lfs merge=lfs -text
*.dgn filter=lfs diff=lfs merge=lfs -text
*.dwfx filter=lfs diff=lfs merge=lfs -text
*.dwg filter=lfs diff=lfs merge=lfs -text
*.dxf filter=lfs diff=lfs merge=lfs -text
*.ipt filter=lfs diff=lfs merge=lfs -text
*.lcf filter=lfs diff=lfs merge=lfs -text
*.max filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.skp filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.u3d filter=lfs diff=lfs merge=lfs -text
*.x_t filter=lfs diff=lfs merge=lfs -text
*.eot filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.ttc filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.abw filter=lfs diff=lfs merge=lfs -text
*.aww filter=lfs diff=lfs merge=lfs -text
*.chm filter=lfs diff=lfs merge=lfs -text
*.cnt filter=lfs diff=lfs merge=lfs -text
*.dbx filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docm filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.dot filter=lfs diff=lfs merge=lfs -text
*.dotm filter=lfs diff=lfs merge=lfs -text
*.dotx filter=lfs diff=lfs merge=lfs -text
*.epub filter=lfs diff=lfs merge=lfs -text
*.ind filter=lfs diff=lfs merge=lfs -text
*.indd filter=lfs diff=lfs merge=lfs -text
*.keynote filter=lfs diff=lfs merge=lfs -text
*.mpp filter=lfs diff=lfs merge=lfs -text
*.odf filter=lfs diff=lfs merge=lfs -text
*.ods filter=lfs diff=lfs merge=lfs -text
*.odt filter=lfs diff=lfs merge=lfs -text
*.opx filter=lfs diff=lfs merge=lfs -text
*.ott filter=lfs diff=lfs merge=lfs -text
*.oxps filter=lfs diff=lfs merge=lfs -text
*.pages filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.pmd filter=lfs diff=lfs merge=lfs -text
*.pot filter=lfs diff=lfs merge=lfs -text
*.potx filter=lfs diff=lfs merge=lfs -text
*.pps filter=lfs diff=lfs merge=lfs -text
*.ppsx filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptm filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.prn filter=lfs diff=lfs merge=lfs -text
*.ps filter=lfs diff=lfs merge=lfs -text
*.pub filter=lfs diff=lfs merge=lfs -text
*.pwi filter=lfs diff=lfs merge=lfs -text
*.sdd filter=lfs diff=lfs merge=lfs -text
*.sdw filter=lfs diff=lfs merge=lfs -text
*.shs filter=lfs diff=lfs merge=lfs -text
*.snp filter=lfs diff=lfs merge=lfs -text
*.sxw filter=lfs diff=lfs merge=lfs -text
*.vsd filter=lfs diff=lfs merge=lfs -text
*.wpd filter=lfs diff=lfs merge=lfs -text
*.wps filter=lfs diff=lfs merge=lfs -text
*.wri filter=lfs diff=lfs merge=lfs -text
*.xps filter=lfs diff=lfs merge=lfs -text
*.azw filter=lfs diff=lfs merge=lfs -text
*.azw3 filter=lfs diff=lfs merge=lfs -text
*.azw4 filter=lfs diff=lfs merge=lfs -text
*.cbr filter=lfs diff=lfs merge=lfs -text
*.cbz filter=lfs diff=lfs merge=lfs -text
*.fb2 filter=lfs diff=lfs merge=lfs -text
*.iba filter=lfs diff=lfs merge=lfs -text
*.ibooks filter=lfs diff=lfs merge=lfs -text
*.lit filter=lfs diff=lfs merge=lfs -text
*.mobi filter=lfs diff=lfs merge=lfs -text
*.numbers filter=lfs diff=lfs merge=lfs -text
*.sdc filter=lfs diff=lfs merge=lfs -text
*.sxc filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
*.xlsm filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.accdb filter=lfs diff=lfs merge=lfs -text
*.accdt filter=lfs diff=lfs merge=lfs -text
*.mdb filter=lfs diff=lfs merge=lfs -text
*.mpd filter=lfs diff=lfs merge=lfs -text
*.mpt filter=lfs diff=lfs merge=lfs -text
*.oft filter=lfs diff=lfs merge=lfs -text
*.one filter=lfs diff=lfs merge=lfs -text
*.onepkg filter=lfs diff=lfs merge=lfs -text
*.pst filter=lfs diff=lfs merge=lfs -text
*.thmx filter=lfs diff=lfs merge=lfs -text
*.big filter=lfs diff=lfs merge=lfs -text
*.cab filter=lfs diff=lfs merge=lfs -text
*.dff filter=lfs diff=lfs merge=lfs -text
*.hi filter=lfs diff=lfs merge=lfs -text
*.lng filter=lfs diff=lfs merge=lfs -text
*.pak filter=lfs diff=lfs merge=lfs -text
*.replay filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
*.rofl filter=lfs diff=lfs merge=lfs -text
*.sav filter=lfs diff=lfs merge=lfs -text
*.save filter=lfs diff=lfs merge=lfs -text
*.sc2replay filter=lfs diff=lfs merge=lfs -text
*.scn filter=lfs diff=lfs merge=lfs -text
*.scx filter=lfs diff=lfs merge=lfs -text
*.wotreplay filter=lfs diff=lfs merge=lfs -text
*.wowpreplay filter=lfs diff=lfs merge=lfs -text
*.g64 filter=lfs diff=lfs merge=lfs -text
*.gb filter=lfs diff=lfs merge=lfs -text
*.gba filter=lfs diff=lfs merge=lfs -text
*.mbz filter=lfs diff=lfs merge=lfs -text
*.n64 filter=lfs diff=lfs merge=lfs -text
*.nds filter=lfs diff=lfs merge=lfs -text
*.nes filter=lfs diff=lfs merge=lfs -text
*.rom filter=lfs diff=lfs merge=lfs -text
*.smc filter=lfs diff=lfs merge=lfs -text
*.smd filter=lfs diff=lfs merge=lfs -text
*.srm filter=lfs diff=lfs merge=lfs -text
*.v64 filter=lfs diff=lfs merge=lfs -text
*.ova filter=lfs diff=lfs merge=lfs -text
*.ovf filter=lfs diff=lfs merge=lfs -text
*.pvm filter=lfs diff=lfs merge=lfs -text
*.vdi filter=lfs diff=lfs merge=lfs -text
*.vhd filter=lfs diff=lfs merge=lfs -text
*.vhdx filter=lfs diff=lfs merge=lfs -text
*.vmdk filter=lfs diff=lfs merge=lfs -text
*.vmem filter=lfs diff=lfs merge=lfs -text
*.vmwarevm filter=lfs diff=lfs merge=lfs -text
*.class filter=lfs diff=lfs merge=lfs -text
*.xap filter=lfs diff=lfs merge=lfs -text
*.app filter=lfs diff=lfs merge=lfs -text
*.com filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.msi filter=lfs diff=lfs merge=lfs -text
*.prg filter=lfs diff=lfs merge=lfs -text
*.scr filter=lfs diff=lfs merge=lfs -text
*.tmp filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.drv filter=lfs diff=lfs merge=lfs -text
*.ocx filter=lfs diff=lfs merge=lfs -text
*.sys filter=lfs diff=lfs merge=lfs -text
*.vxd filter=lfs diff=lfs merge=lfs -text
*.001 filter=lfs diff=lfs merge=lfs -text
*.002 filter=lfs diff=lfs merge=lfs -text
*.003 filter=lfs diff=lfs merge=lfs -text
*.004 filter=lfs diff=lfs merge=lfs -text
*.005 filter=lfs diff=lfs merge=lfs -text
*.006 filter=lfs diff=lfs merge=lfs -text
*.007 filter=lfs diff=lfs merge=lfs -text
*.008 filter=lfs diff=lfs merge=lfs -text
*.009 filter=lfs diff=lfs merge=lfs -text
*.010 filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.7zip filter=lfs diff=lfs merge=lfs -text
*.a00 filter=lfs diff=lfs merge=lfs -text
*.a01 filter=lfs diff=lfs merge=lfs -text
*.a02 filter=lfs diff=lfs merge=lfs -text
*.a03 filter=lfs diff=lfs merge=lfs -text
*.a04 filter=lfs diff=lfs merge=lfs -text
*.a05 filter=lfs diff=lfs merge=lfs -text
*.ace filter=lfs diff=lfs merge=lfs -text
*.air filter=lfs diff=lfs merge=lfs -text
*.appxbundle filter=lfs diff=lfs merge=lfs -text
*.arc filter=lfs diff=lfs merge=lfs -text
*.arj filter=lfs diff=lfs merge=lfs -text
*.asec filter=lfs diff=lfs merge=lfs -text
*.bar filter=lfs diff=lfs merge=lfs -text
*.c00 filter=lfs diff=lfs merge=lfs -text
*.c01 filter=lfs diff=lfs merge=lfs -text
*.c02 filter=lfs diff=lfs merge=lfs -text
*.c03 filter=lfs diff=lfs merge=lfs -text
*.cso filter=lfs diff=lfs merge=lfs -text
*.deb filter=lfs diff=lfs merge=lfs -text
*.dlc filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.gzip filter=lfs diff=lfs merge=lfs -text
*.hqx filter=lfs diff=lfs merge=lfs -text
*.inv filter=lfs diff=lfs merge=lfs -text
*.ipa filter=lfs diff=lfs merge=lfs -text
*.isz filter=lfs diff=lfs merge=lfs -text
*.msu filter=lfs diff=lfs merge=lfs -text
*.nbh filter=lfs diff=lfs merge=lfs -text
*.pkg filter=lfs diff=lfs merge=lfs -text
*.r00 filter=lfs diff=lfs merge=lfs -text
*.r01 filter=lfs diff=lfs merge=lfs -text
*.r02 filter=lfs diff=lfs merge=lfs -text
*.r03 filter=lfs diff=lfs merge=lfs -text
*.r04 filter=lfs diff=lfs merge=lfs -text
*.r05 filter=lfs diff=lfs merge=lfs -text
*.r06 filter=lfs diff=lfs merge=lfs -text
*.r07 filter=lfs diff=lfs merge=lfs -text
*.r08 filter=lfs diff=lfs merge=lfs -text
*.r09 filter=lfs diff=lfs merge=lfs -text
*.r10 filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.rpm filter=lfs diff=lfs merge=lfs -text
*.sis filter=lfs diff=lfs merge=lfs -text
*.sisx filter=lfs diff=lfs merge=lfs -text
*.sit filter=lfs diff=lfs merge=lfs -text
*.sitd filter=lfs diff=lfs merge=lfs -text
*.sitx filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.vsix filter=lfs diff=lfs merge=lfs -text
*.webarchive filter=lfs diff=lfs merge=lfs -text
*.z01 filter=lfs diff=lfs merge=lfs -text
*.z02 filter=lfs diff=lfs merge=lfs -text
*.z03 filter=lfs diff=lfs merge=lfs -text
*.z04 filter=lfs diff=lfs merge=lfs -text
*.z05 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zipx filter=lfs diff=lfs merge=lfs -text
*.bak filter=lfs diff=lfs merge=lfs -text
*.bbb filter=lfs diff=lfs merge=lfs -text
*.bkf filter=lfs diff=lfs merge=lfs -text
*.bkp filter=lfs diff=lfs merge=lfs -text
*.dbk filter=lfs diff=lfs merge=lfs -text
*.gho filter=lfs diff=lfs merge=lfs -text
*.ipd filter=lfs diff=lfs merge=lfs -text
*.iso filter=lfs diff=lfs merge=lfs -text
*.mdbackup filter=lfs diff=lfs merge=lfs -text
*.nba filter=lfs diff=lfs merge=lfs -text
*.nbf filter=lfs diff=lfs merge=lfs -text
*.nco filter=lfs diff=lfs merge=lfs -text
*.nrg filter=lfs diff=lfs merge=lfs -text
*.old filter=lfs diff=lfs merge=lfs -text
*.sbf filter=lfs diff=lfs merge=lfs -text
*.sbu filter=lfs diff=lfs merge=lfs -text
*.spb filter=lfs diff=lfs merge=lfs -text
*.spba filter=lfs diff=lfs merge=lfs -text
*.tib filter=lfs diff=lfs merge=lfs -text
*.wbcat filter=lfs diff=lfs merge=lfs -text
*.000 filter=lfs diff=lfs merge=lfs -text
*.ccd filter=lfs diff=lfs merge=lfs -text
*.cue filter=lfs diff=lfs merge=lfs -text
*.daa filter=lfs diff=lfs merge=lfs -text
*.dao filter=lfs diff=lfs merge=lfs -text
*.dmg filter=lfs diff=lfs merge=lfs -text
*.img filter=lfs diff=lfs merge=lfs -text
*.mdf filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mdx filter=lfs diff=lfs merge=lfs -text
*.tao filter=lfs diff=lfs merge=lfs -text
*.tc filter=lfs diff=lfs merge=lfs -text
*.toast filter=lfs diff=lfs merge=lfs -text
*.uif filter=lfs diff=lfs merge=lfs -text
*.vcd filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.crypt filter=lfs diff=lfs merge=lfs -text
*.ipsw filter=lfs diff=lfs merge=lfs -text
*.lqm filter=lfs diff=lfs merge=lfs -text
*.nomedia filter=lfs diff=lfs merge=lfs -text
*.npf filter=lfs diff=lfs merge=lfs -text
*.pkpass filter=lfs diff=lfs merge=lfs -text
*.rem filter=lfs diff=lfs merge=lfs -text
*.rsc filter=lfs diff=lfs merge=lfs -text
*.spd filter=lfs diff=lfs merge=lfs -text
*.tpk filter=lfs diff=lfs merge=lfs -text
*.xapk filter=lfs diff=lfs merge=lfs -text
*.djr filter=lfs diff=lfs merge=lfs -text
*.gdb filter=lfs diff=lfs merge=lfs -text
*.ofx filter=lfs diff=lfs merge=lfs -text
*.qif filter=lfs diff=lfs merge=lfs -text
*.tax2018 filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.fdb filter=lfs diff=lfs merge=lfs -text
*.idx filter=lfs diff=lfs merge=lfs -text
*.sdf filter=lfs diff=lfs merge=lfs -text
*.sqlite filter=lfs diff=lfs merge=lfs -text
*.wdb filter=lfs diff=lfs merge=lfs -text
*.adf filter=lfs diff=lfs merge=lfs -text
*.geo filter=lfs diff=lfs merge=lfs -text
*.kml filter=lfs diff=lfs merge=lfs -text
*.kmz filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.appx filter=lfs diff=lfs merge=lfs -text
*.cpl filter=lfs diff=lfs merge=lfs -text
*.elf filter=lfs diff=lfs merge=lfs -text
*.blf filter=lfs diff=lfs merge=lfs -text
*.dump filter=lfs diff=lfs merge=lfs -text
*.evtx filter=lfs diff=lfs merge=lfs -text
*.gadget filter=lfs diff=lfs merge=lfs -text
*.inf filter=lfs diff=lfs merge=lfs -text
*.kext filter=lfs diff=lfs merge=lfs -text
*.mui filter=lfs diff=lfs merge=lfs -text
*.sfcache filter=lfs diff=lfs merge=lfs -text
*.swp filter=lfs diff=lfs merge=lfs -text
*.aae filter=lfs diff=lfs merge=lfs -text
*.contact filter=lfs diff=lfs merge=lfs -text
*.deskthemepack filter=lfs diff=lfs merge=lfs -text
*.eng filter=lfs diff=lfs merge=lfs -text
*.lrtemplate filter=lfs diff=lfs merge=lfs -text
*.pls filter=lfs diff=lfs merge=lfs -text
*.ref filter=lfs diff=lfs merge=lfs -text
*.skn filter=lfs diff=lfs merge=lfs -text
*.svp filter=lfs diff=lfs merge=lfs -text
*.theme filter=lfs diff=lfs merge=lfs -text
*.themepack filter=lfs diff=lfs merge=lfs -text
*.trm filter=lfs diff=lfs merge=lfs -text
*.usr filter=lfs diff=lfs merge=lfs -text
*.wba filter=lfs diff=lfs merge=lfs -text
*.crx filter=lfs diff=lfs merge=lfs -text
*.plugin filter=lfs diff=lfs merge=lfs -text
*.safariextz filter=lfs diff=lfs merge=lfs -text
*.xpi filter=lfs diff=lfs merge=lfs -text
*.dmp filter=lfs diff=lfs merge=lfs -text
*.crypt12 filter=lfs diff=lfs merge=lfs -text
*.ksd filter=lfs diff=lfs merge=lfs -text
*.3dr filter=lfs diff=lfs merge=lfs -text
*.dct filter=lfs diff=lfs merge=lfs -text
*.dic filter=lfs diff=lfs merge=lfs -text
*.msmessagestore filter=lfs diff=lfs merge=lfs -text
*.mswmm filter=lfs diff=lfs merge=lfs -text
*.npo filter=lfs diff=lfs merge=lfs -text
*.rep filter=lfs diff=lfs merge=lfs -text
*.srg filter=lfs diff=lfs merge=lfs -text
*.upd filter=lfs diff=lfs merge=lfs -text
